/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

section {
  text-indent: 2rem;
}

h2 {
  font: bold 25px "Arvo";
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 3px;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
  font: bold 30px "Arvo";
  text-align: center;
}

ul {
  list-style-type: square;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

a {
  color: brown;
  outline: none;
}

a:visited {
  color: #271b0d;
}

a:hover, a:focus {
  color: #271b0d;
  text-decoration: none;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.4em;
  vertical-align: middle;
  background-image: url('https://mdn.github.io/shared-assets/images/examples/external-link-52.png');
  background-size: cover;
}

nav li a {
  font-family: "Arve";
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border: 1px solid brown;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: grey;
}

nav li a:active {
  color: white;
  background: black;
}