/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

section {
  text-indent: 2rem;
}

h2 {
  font: bold 25px "Arvo";
  text-transform: uppercase;
  margin-bottom: 0px;
  letter-spacing: 3px;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
  font: bold 30px "Arvo";
  text-align: center;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

a {
  color: brown;
}

a:hover, a:focus {
  color: #281b0d;
  text-decoration: none;
}